<!DOCTYPE HTML>
<html>

<head>
	<title>酒店</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
	<!--start slider -->
	<link rel="stylesheet" href="css/fwslider.css" media="all">
	<scrip src="js/jquery-ui.min.js"></scrip>
	<scrip src="js/css3-mediaqueries.js"></scrip>
	<script src="js/fwslider.js"></script>
	<script src="js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!--end slider -->
	<!---strat-date-piker---->
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<script src="js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1").datepicker();
		});
	</script>
	<!---/End-date-piker---->
	<link type="text/css" rel="stylesheet" href="css/JFGrid.css" />
	<link type="text/css" rel="stylesheet" href="css/JFFormStyle-1.css" />
	<script type="text/javascript" src="js/JFCore.js"></script>
	<script type="text/javascript" src="js/JFForms.js"></script>
	<!-- Set here the key for your domain in order to hide the watermark on the web server -->
	<script type="text/javascript">
		(function () {
			JC.init({
				domainKey: ''
			});
		})();
	</script>
	<!--nav-->
	<script>
		$(function () {
			var pull = $('#pull');
			menu = $('nav ul');
			menuHeight = menu.height();

			$(pull).on('click', function (e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function () {
				var w = $(window).width();
				if (w > 320 && menu.is(':hidden')) {
					menu.removeAttr('style');
				}
			});
		});
	</script>
</head>

<body>
	<div id="vueload">
		<!-- start header -->
		<div v-if="showLoginRapper==true" class="login-rapper">
			<div style="height: 400px;width: 400px; background-color: aliceblue;text-align: center;">
				<img src="images/close.png" style="width: 30px;height: 30px;margin-left: 370px;"
					@click="closeLogin()" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">用户名：</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="text" :value="loginUsername" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">密&nbsp
					&nbsp码：
				</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="password" :value="loginPassword" />
				<br />
				<button
					style="margin-top: 50px;height: 40px;width: 250px;font-size: 25px;background-color: rgb(64, 154, 228);color: rgb(231, 230, 230);">登&nbsp
					&nbsp录</button>
				<br />
				<div style="margin-top: 40px;">
					<span style="color: rgb(0, 162, 255);" @click="showforgetPassword()">忘记密码</span>
					<span>|</span>
					<span style="color: rgb(0, 162, 255);" @click="showRegest()">注册账号</span>
				</div>
			</div>
		</div>
		<div v-if="showForgetPasswordRapper==true" class="login-rapper">
			<div style="height: 400px;width: 400px; background-color: aliceblue;text-align: center;">
				<img src="images/close.png" style="width: 30px;height: 30px;margin-left: 370px;"
					@click="closeForgetPassword()" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">用户名：</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="text" :value="loginUsername" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">密&nbsp
					&nbsp码：
				</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="password" :value="loginPassword" />
				<br />
				<button
					style="margin-top: 50px;height: 40px;width: 250px;font-size: 25px;background-color: rgb(64, 154, 228);color: rgb(231, 230, 230);">登&nbsp
					&nbsp录</button>
				<br />
				<div style="margin-top: 40px;">
					<span style="color: rgb(0, 162, 255);" @click="showLogin()">返回登录</span>
				</div>
			</div>
		</div>
		<div v-if="showRegestRapper==true" class="login-rapper">
			<div style="height: 400px;width: 400px; background-color: aliceblue;text-align: center;">
				<img src="images/close.png" style="width: 30px;height: 30px;margin-left: 370px;"
					@click="closeRegest()" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">用户名：</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="text" :value="loginUsername" />
				<p style="font-size: 25px;margin-top: 25px;margin-right: 130px;color: rgb(102, 94, 94);">密&nbsp
					&nbsp码：
				</p>
				<input style="height: 30px;width: 250px;font-size: 25px;" type="password" :value="loginPassword" />
				<br />
				<button
					style="margin-top: 50px;height: 40px;width: 250px;font-size: 25px;background-color: rgb(64, 154, 228);color: rgb(231, 230, 230);">登&nbsp
					&nbsp录</button>
				<br />
				<div style="margin-top: 40px;">
					<span style="color: rgb(0, 162, 255);" @click="showLogin()">返回登录</span>
				</div>
			</div>
		</div>
		<div class="header_bg">
			<div class="wrap">
				<div class="header">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt=""></a>
					</div>
					<div class="h_right">
						<!--start menu -->
						<ul class="menu">
							<li class="active"><a href="index.html">酒店</a></li> |
							<li><a href="rooms.html">房间 & 选择</a></li> |
							<li><a href="reservation.html">预约</a></li> |
							<li><a href="activities.html">活动</a></li> |
							<li><a href="contact.html">联系</a></li>
							<div class="clear"></div>
						</ul>
						<!-- start profile_details -->
						<div class="style-1 drp_dwn">
							<div class="row">
								<div class="grid_3 columns">
									<div v-if='username==null' id="username" style="color: aliceblue;">未登录
										<div class="usermenuunload">
											<button
												style="background-color:rgb(243, 126, 126);color: white;height: 30px;;width: 100px;"
												@click="showLogin()">登录</button>
										</div>
									</div>
									<div v-if='username!=null' id="username" style="color: aliceblue;">{{username}}
										<div class="usermenuload">
											<button
												style="background-color:rgb(228, 172, 70);color: white;height: 30px;;width: 100px;"
												@click="">设置</button>
											<button
												style="background-color:rgb(190, 42, 42);color: white;height: 30px;;width: 100px;"
												@click="logout()">注销</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="top-nav">
						<nav class="clearfix">
							<ul>
								<li class="active"><a href="index.html">酒店</a></li>
								<li><a href="rooms.html">房间 & 选择</a></li>
								<li><a href="reservation.html">预约</a></li>
								<li><a href="activities.html">活动</a></li>
								<li><a href="contact.html">联系</a></li>
							</ul>
							<a href="#" id="pull">Menu</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!----start-images-slider---->
		<div class="images-slider">
			<!-- start slider -->
			<div id="fwslider">
				<div class="slider_container">
					<div class="slide">
						<!-- Slide image -->
						<img src="images/slider-bg.jpg" alt="" />
						<!-- /Slide image -->
						<!-- Texts container -->
						<div class="slide_content">
							<div class="slide_content_wrap">
								<!-- Text title -->
								<h4 class="title"><i class="bg"></i>MI HOTEL <span class="hide"></span></h4>
								<h5 class="title1"><i class="bg"></i>欢迎光临小猕酒店 <span class="hide"></span></h5>
								<!-- /Text title -->
							</div>
						</div>
						<!-- /Texts container -->
					</div>
					<!-- /Duplicate to create more slides -->
					<div class="slide">
						<img src="images/slider-bg.jpg" alt="" />
						<div class="slide_content">
							<div class="slide_content_wrap">
								<!-- Text title -->
								<h4 class="title"><i class="bg"></i>MIHOTAO <span class="hide"> </span>
								</h4>
								<h5 class="title1"><i class="bg"></i>WELCOME TO <span class="hide">MI HOTEL</span>
								</h5>
								<!-- /Text title -->
							</div>
						</div>
					</div>
					<!--/slide -->
				</div>
				<div class="timers"> </div>
				<div class="slidePrev"><span> </span></div>
				<div class="slideNext"><span> </span></div>
			</div>
			<!--/slider -->
		</div>
		<!--start main -->
		<div class="main_bg">
			<div class="wrap">
				<div class="online_reservation">
					<div class="b_room">
						<div class="booking_room">
							<h4>在线预订客房</h4>
							<p>注册登录预订客房后可以在线预订客房</p>
						</div>
						<div class="reservation">
							<ul>
								<li class="span1_of_1">
									<h5>房间类型:</h5>
									<!----------start section_room----------->
									<div class="section_room">
										<select id="country" onchange="change_country(this.value)"
											class="frm-field required">
											<option value="null">选择房间类型</option>
											<option value="1">单人间</option>
											<option value="2">双人间</option>
											<option value="3">套间</option>
										</select>
									</div>
								</li>
								<li class="span1_of_1 left">
									<h5>选择入住时间:</h5>
									<div class="book_date">
										<form>
											<input class="date" id="datepicker" type="text" value="日/月/年"
												onfocus="this.value = '';"
												onblur="if (this.value == '') {this.value = 'DD/MM/YY';}">
										</form>

									</div>
								</li>
								<li class="span1_of_1 left">
									<h5>选择退房时间:</h5>
									<div class="book_date">
										<form>
											<input class="date" id="datepicker1" type="text" value="日/月/年"
												onfocus="this.value = '';"
												onblur="if (this.value == '') {this.value = 'DD/MM/YY';}">
										</form>
									</div>
								</li>
								<li class="span1_of_2 left">
									<h5>人数:</h5>
									<!----------start section_room----------->
									<div class="section_room">
										<select id="country" onchange="change_country(this.value)"
											class="frm-field required">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>
								</li>
								<li class="span1_of_3">
									<div class="date_btn">
										<form>
											<input type="submit" value="book now" />
										</form>
									</div>
								</li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<!--start grids_of_3 -->
				<div class="grids_of_3">
					<div class="grid1_of_3">
						<div class="grid1_of_3_img">
							<a href="">
								<img src="images/pic2.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>
						<h4><a href="#">单人间<span>420￥</span></a></h4>
						<p>采用明清建筑的豪宅风格，配置1.8米豪华大床，选用顶级舒适的床上用品、
							拥有最豪华的布艺、家具和设施，以浓重而不失活泼的色调、奔放且大气的布局、
							近似自然优美的线条，营造豪华舒适、至尊至贵的假日体验。每一间单人间均搭配
							深色木质家具，配备高级独立卫生间、24小时热水，干净舒适，一台42寸的液晶电视，
							隔音防噪，冷暖空调，清爽宜人。</p>
					</div>
					<div class="grid1_of_3">
						<div class="grid1_of_3_img">
							<a href="">
								<img src="images/pic1.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>
						<h4><a href="#">双人间<span>680￥</span></a></h4>
						<p>双床位，配备高级独立卫生间、24小时热水，干净舒适，一台42寸的液晶电视，
							隔音防噪，冷暖空调。布局大气，色调活泼，环境自然优美</p>
					</div>
					<div class="grid1_of_3">
						<div class="grid1_of_3_img">
							<a href="">
								<img src="images/pic3.jpg" alt="" />
								<span class="next"> </span>
							</a>
						</div>
						<h4><a href="#">套 房<span>1210￥</span></a></h4>
						<p>每一间大约60到70平米，整间套房分为主卧和客厅两大空间，
							均配置独立高级卫生间。豪华套房设有超宽敞开放式私人阳台，让整个空间
							始终能够得到充足的自然光线。整个套房空间均保持着明清建筑的豪宅风格，
							搭配深色木质家具，既奢华却不庸俗，雅致却不失高贵。客厅背景墙面采用
							高档定制壁纸独一无二，工艺玻璃的修饰更增加了整个空间的格调，墙上挂
							着一台50寸的液晶电视，木质沙发，柔软舒适，客厅的一角更是独树一帜的
							设计为泡茶功能区，集商务休闲等功能于一体。</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!--start main -->
		<div class="footer_bg">
			<div class="wrap">
				<div class="footer">
					<div class="f_nav">
						<ul>
							<li><a href="index.html">酒店</a></li>
							<li><a href="rooms.html">房间 & 选择</a></li>
							<li><a href="reservation.html">预约</a></li>
							<li><a href="contact.html">联系</a></li>
						</ul>
					</div>
					<div class="soc_icons">
						<ul>
							<li><a class="icon1" href="#"></a></li>
							<li><a class="icon2" href="#"></a></li>
							<li><a class="icon3" href="#"></a></li>
							<li><a class="icon4" href="#"></a></li>
							<li><a class="icon5" href="#"></a></li>
							<div class="clear"></div>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var user = {
			username: null,
			showLoginRapper: false,
			loginUsername: null,
			loginPassword: null,
			showForgetPasswordRapper: false,
			showRegestRapper: false
		}

		var vm = new Vue({
			el: '#vueload',
			data: user,
			mounted: function () {},
			methods: {
				showLogin() {
					user.showLoginRapper = true;
					user.showRegestRapper = false;
					user.showForgetPasswordRapper = false;
				},
				closeLogin() {
					user.showLoginRapper = false;
				},
				showforgetPassword() {
					user.showLoginRapper = false;
					user.showForgetPasswordRapper = true;
				},
				closeForgetPassword() {
					user.showForgetPasswordRapper = false;
				},
				showRegest() {
					user.showLoginRapper = false;
					user.showRegestRapper = true;
				},
				closeRegest() {
					user.showRegestRapper = false;
				},
				login() {
					axios.post('http://localhost:55555/user/login', {
							username: 'Fred',
							password: 'Flintstone'
						})
						.then(function (response) {
							user.username = response.data.data
						})
						.catch(function (error) {
							console.log(error);
						});
				},
				logout() {
					user.username = null;
				}
			}
		})
	</script>
</body>

</html>